.keyPress_input {
  margin: 20px;
  padding: 10px 40px;
  border-radius: 7px;
  border: 2px solid rgb(32, 149, 149);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}